body{
    height: 80vh;
}
main{
    width: 80vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    gap: 15px;

}
div:first-child{
    grid-column: 1/1;
    grid-row: 1/1;
    background-color: rosybrown;
}
div:nth-child(2){
    grid-column: 2/2;
    grid-row: 1/1;
    background-color: darkseagreen;
}
div:nth-child(3){
    grid-column: 3/3;
    grid-row: 1/1;
    background-color: gold;
}
div:nth-child(4){
    grid-column: 1/1;
    grid-row: 2/2;
    background-color: coral;
}
div:nth-child(5){
    grid-column: 2/2;
    grid-row: 2/2;
    background-color: deepskyblue;
}
div:nth-child(6){
    grid-column: 3/3;
    grid-row: 2/2;
    background-color: chartreuse;
}
div:nth-child(7){
    grid-column: 1/1;
    grid-row: 3/3;
    background-color: coral;
}
div:nth-child(8){
    grid-column: 2/4;
    grid-row: 3/3;
    background-color: blueviolet;
}